.comm_section {
  /* padding-top: 0.8rem; */
  color: #fff;
  top: 0px;
  left: 0;
  width: 100%;
  padding-bottom: 1rem;
  max-height: 50vh;
  position: sticky;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.more_btn {
  width: 100%;
  /* padding-left: 10px; */
  display: flex;
  justify-content: center;
}
