.profile_container_section {
  position: absolute;
  flex: 1 1 auto;
  margin: 1.2rem;
  max-width: calc(100% - 20vw);
  padding: 2rem;
  max-height: 87%;
  background-color: #343950;
  border-radius: 15px;
  overflow-y: auto;
  scroll-behavior: smooth;
  /* margin-top: 3rem; */
  top: 9%;
  left: 16%;
}
