.post-card {
  width: 70%;
  height: auto;
  background-color: #292435;
  margin: 30px;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  margin-left: 15%;
  
  color:  #f6eeee;
}
.post{
  margin-top: auto;
  padding: 20px;
}

.post-name {
  position: relative;
  background-color: #292435;
  font-size: 18px;
  color:  #f6eeee;
  font-weight: 600;
  margin: 0px 0 0 0px;
  cursor: pointer;
  left: 20px;
}

/* .post-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
} */
